* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

.row {
  width:100%;
}

@media only screen and (min-width: 992px) {
  .col-md-4 {
    float:left;
    width: 33.3%;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .col-sm-6 {
    float:left;
    width:50%;
  }
  .col-sm-12 {
    float:left;
    width:100%;
  }
}

@media (max-width: 767px) {
  .col-xs-12 {
    width:100%;
  }
}

body {
  font-family: sans-serif;
}

h1 {
  margin-top:70px;
  margin-bottom:70px;
  text-align:center;
}

.col-md-4 {
  padding: 20px;
}

.content {
  background-color: gray;
  position:relative;
  border: 1px solid black;
}

.meat {
  float:right;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  text-align: center;
  font-size:1.2em;
  padding: 10px;
  width: 150px;
}

#chicken {
  background-color: pink;
}
#beef {
  background-color: red;
  color:white;
}
#sushi {
  background-color: yellow;
}
.text {
  clear: both;
  padding: 10px;
}
